@{
    ViewData["Title"] = "Register User";
}

@model IndexViewModel

<div class="login-registration">
    <!-- Registration -->
    <div class="text-center">
        <h2>Register</h2>
        <form asp-action="Register" asp-controller="Registration" method="post">
            <table>
                <tbody>
                    <!-- First Name -->
                    <tr>
                        <td>
                            <label asp-for="UserRegistration.FirstName"></label>
                        </td>
                        <td>
                            <input asp-for="UserRegistration.FirstName">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span style="color:red" asp-validation-for="UserRegistration.FirstName"></span>
                        </td>
                    </tr>
                    <!-- Last Name -->
                    <tr>
                        <td>
                            <label asp-for="UserRegistration.LastName"></label>
                        </td>
                        <td>
                            <input asp-for="UserRegistration.LastName">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span style="color:red" asp-validation-for="UserRegistration.LastName"></span>
                        </td>
                    </tr>
                    <!-- Age -->
                    <tr>
                        <td>
                            <label asp-for="UserRegistration.Age"></label>
                        </td>
                        <td>
                            <input asp-for="UserRegistration.Age">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span style="color:red" asp-validation-for="UserRegistration.Age"></span>
                        </td>
                    </tr>
                    <!-- Email -->
                    <tr>
                        <td>
                            <label asp-for="UserRegistration.Email"></label>
                        </td>
                        <td>
                            <input asp-for="UserRegistration.Email">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span style="color:red" asp-validation-for="UserRegistration.Email"></span>
                        </td>
                    </tr>
                    <!-- Password -->
                    <tr>
                        <td>
                            <label asp-for="UserRegistration.Password"></label>
                        </td>
                        <td>
                            <input asp-for="UserRegistration.Password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="color:red" asp-validation-for="UserRegistration.Password"></span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Submit">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <!-- Login -->
    <div class="text-center">
        <h2>Log In</h2>
        <form asp-action="Login" asp-controller="Registration" method="POST">
            <table>
                <tbody>
                    <!-- Email -->
                    <tr>
                            <td>
                                <label asp-for="UserLogin.Email"></label>
                            </td>
                            <td>
                                <input asp-for="UserLogin.Email">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <span style="color:red" asp-validation-for="UserLogin.Email"></span>
                            </td>
                        </tr>
                        <!-- Password -->
                        <tr>
                            <td>
                                <label asp-for="UserLogin.Password"></label>
                            </td>
                            <td>
                                <input asp-for="UserLogin.Password">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color:red" asp-validation-for="UserLogin.Password"></span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="Submit">
                            </td>
                        </tr>
                        
                </tbody>
            </table>
        </form>
    </div>
</div>

